form(method="POST", action="/checkLogin")
  input(type="hidden", name="_method", value="PUT")
  p User ID
    input(type="text", name="id")
  p Password
    input(type="text", name="pass")
  p
    input(type="submit")